.convertor {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}


.button-height {
  height: 50px;
}

.convertor-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
}