/* .ag-theme-alpine .ag-cell {
    white-space: normal !important; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .ag-theme-alpine .ag-cell .ag-cell-value {
    white-space: normal; 
  } */